@use '../02-tools/color' as *;
@use '../02-tools/_v.scss' as *;
@use '../01-settings/breakpoint' as *;

.l-footer {
  align-items: center;
  background-color: color(tertiary);
  color: color(solid-secondary);
  display: grid;
  grid-area: footer;
  grid:
    'description' v(space-xl) 'local' v(space-xl)
    'contact ' auto 'social-network ' auto 'copyright' auto / 1fr;
  height: auto;
  margin: 0 auto;
  max-width: v(size-max-width);
  padding: 0 v(padding-default);
  width: 100%;

  @include breakpoint(small-up) {
    grid: 'description local' auto 'contact social-network' auto 'copyright .' auto / auto auto;
  }
}
