@use '../02-tools/color' as *;
@use '../02-tools/_v.scss' as *;
@use '../02-tools/z-index' as *;
@use '../01-settings/breakpoint' as *;

.l-header {
  background-color: color(solid-secondary);
  column-gap: v(space-6xs);
  display: grid;
  grid: 'logo whatsapp' auto 'slogan slogan' auto 'line line' auto / 1fr 1fr;
  grid-area: header;
  height: auto;
  justify-items: center;
  margin: 0 auto;
  max-width: v(size-max-width);
  overflow: visible;
  padding: 0 v(padding-default);
  transition: v(transition-function-header);
  width: 100%;
  z-index: z-index(default);

  @include breakpoint(small-up) {
    grid: 'logo menu' auto auto 'line line' auto/ 250px 1fr;
    padding: v(space-l) v(padding-default) 0 v(padding-default);
  }
}
