$componente-name: 'c-copyright';

.#{$componente-name} {
  align-self: center;
  grid-area: copyright;
  justify-self: flex-start;
  margin: 0;
  padding: (v(space-s) * 0.2) (v(space-s) * 0.2) (v(space-s) * 0.2) 0;
  font-size: v(font-size-default);

  @include breakpoint(small-up) {
    justify-self: flex-start;
  }
}
