$componente-name: 'c-line-footer';

.#{$componente-name} {
  background-color: color(solid-secondary);
  display: grid;
  grid-area: line-footer;
  grid-template-columns: 1fr;
  height: auto;
  margin: 0 auto;
  max-width: v(size-max-width);
  width: 100%;
  @include breakpoint(small-up) {
    grid-template-columns: 1fr calc(v(space-s) * 5.5);
  }
  &__full {
    height: (v(space-s)-ssss);
    shape-rendering: crispEdges;
    width: 100%;
  }
  &__colored {
    fill: none;
    height: 100%;
    overflow: visible;
    shape-rendering: crispEdges;
    stroke: color(primary);
    width: 100%;
    &--smoth {
      shape-rendering: auto;
    }
  }
  &__mono {
    stroke: color(tertiary);
    fill: none;
    overflow: visible;
  }
  &__right {
    display: none;
    overflow: hidden;

    @include breakpoint(small-up) {
      display: block;
      height: (v(space-s)-ssss);
      overflow: visible;
      width: 100%;
    }
  }
  &__background {
    fill: color(solid-secondary);
    height: 100%;
    overflow: visible;
    width: 100%;
  }
}
