$componente-name: 'c-top';

.#{$componente-name} {
  grid-area: top;
  height: 0;
  transition: v(transition-function-header);

  @include breakpoint(large-up) {
    height: $global-padding-size-xxs;
    &.has-sticker {
      height: 0;
    }
  }
}
