$componente-name: 'c-title';

.#{$componente-name} {
  text-transform: uppercase;
  font-size: v(font-size-default);
  padding-top: (v(space-s) * 0.5);

  @include breakpoint(small-up) {
    font-size: v(font-size-default);
    padding-top: v(space-s);
  }
}
