$componente-name: 'l-footer';

.#{$componente-name} {
  background-color: color(tertiary);
  color: color(solid-secondary);
  display: grid;
  grid-area: footer;
  grid:
    'description' v(space-s) 'local' v(space-s)
    'contact ' auto 'social-network ' auto 'copyright' auto / 1fr;
  height: auto;
  margin: 0 auto;
  max-width: v(size-max-width);
  padding: 0 ($global-padding-size-xxxs);
  width: 100%;

  @include breakpoint(small-up) {
    grid:
      'description local' calc(v(space-s) * 2)
      'contact social-network' auto 'copyright .' auto / auto auto;
  }

  @include breakpoint(large-up) {
    padding: 0 ($global-padding-size-xs);
  }
}
