$componente-name: 'l-header';

.#{$componente-name} {
  background-color: color(solid-secondary);
  column-gap: calc(v(space-s) * 0.2);
  display: grid;
  grid: 'top' auto 'logo' auto 'slogan' auto 'line' auto / 1fr;
  height: auto;
  justify-items: center;
  margin: 0 auto;
  max-width: v(size-max-width);
  overflow: visible;
  padding: ($global-padding-size-xxs) ($global-padding-size-xxxs) 0;
  position: fixed;
  transition: v(transition-function-header);
  width: 100%;
  z-index: z-index(above);
  &.has-sticker {
    box-shadow: 0 v(space-s)-ssss v(space-s)-xxxs 0 rgba(0, 0, 0, 0.2);
    padding: ($global-padding-size-xxxs) ($global-padding-size-xxxs);
  }
  @include breakpoint(small-up) {
    grid: 'top top' auto 'logo slogan' auto 'line line' auto / auto 1fr;
    padding: ($global-padding-size-xs) ($global-padding-size-xxs) 0 ($global-padding-size-xxs);
    gap: 0;
  }
  @include breakpoint(large-up) {
    grid: 'top top' auto 'logo slogan' auto 'line line' auto / auto 1fr;
    padding: ($global-padding-size-s) ($global-padding-size-xs) 0;
    &.has-sticker {
      padding: 0 ($global-padding-size-xs);
    }
  }
}
