$componente-name: 'l-main';

.#{$componente-name} {
  background-color: color(solid-secondary);
  color: color(tertiary);
  grid-area: main;
  margin: 0 auto;
  padding: ($global-padding-size-xxxs);
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  height: auto;
  width: 100%;

  @include breakpoint(small-up) {
    padding: ($global-padding-size-xxs);
  }

  @include breakpoint(large-up) {
    padding: ($global-padding-size-xs);
  }
}
