$componente-name: 'c-card';

.#{$componente-name} {
  font-size: medium;
  display: flex;
  flex-direction: column;

  @include breakpoint(large-up) {
    display: grid;
  }
  &__title {
    text-transform: capitalize;
    font-size: v(font-size-default);
    grid-row: 1/2;
    &--highlights {
      text-transform: uppercase;
      font-size: v(font-size-default);

      @include breakpoint(small-up) {
        font-size: v(font-size-default);
      }
    }

    @include breakpoint(small-up) {
      font-size: v(font-size-default);
    }
  }
  &__text {
    font-size: v(font-size-default);
    grid-row: 2/3;
    height: auto;
    line-height: $global-line-height-medium;
    padding: 0;
    text-align: justify;

    @include breakpoint(small-up) {
      font-size: v(font-size-default);
      line-height: v(space-s);
    }
  }
  &__image {
    width: (v(space-s) * 6);
    height: auto;
    grid-row: 2/3;

    @include breakpoint(small-up) {
      width: (v(space-s) * 10);
    }

    @include breakpoint(small-up) {
      width: (v(space-s) * 12);
    }
  }
  &--right {
    grid-column: 2/3;
  }
  &--left {
    grid-column: 1/2;
  }
}
