$componente-name: 'c-social-network';

.#{$componente-name} {
  align-items: center;
  display: grid;
  grid-area: social-network;
  grid-template-columns: 1fr;
  height: calc(v(space-s) * 2);
  margin: 0;
  padding: 0;
  width: auto;
  @include breakpoint(400-up) {
    grid-template-columns: calc(v(space-s) * 6) 1fr;
  }
  @include breakpoint(small-up) {
    grid-template-columns: 1fr (v(space-s) * 6);
  }

  &__container {
    align-items: center;
    column-gap: calc(v(space-s) / 10);
    display: grid;
    grid-column: 1 / 2;
    grid-template-columns: repeat(4, 1fr);
    justify-items: flex-start;
    @include breakpoint(400-up) {
      gap: 0;
    }
    @include breakpoint(small-up) {
      grid-column: 2 / -1;
      justify-items: flex-end;
    }
  }

  @include breakpoint(small-up) {
    height: calc(v(space-s) * 5);
  }

  &__icon {
    fill: color(primary);
    height: (v(space-s));
    margin: 0;
    padding: 0;
    transition: $transition-duration-exit;
    width: calc(v(space-s));
    &:hover {
      background-color: color(tertiary);
      padding: calc($global-padding-size-xxxs);
    }
  }
  &__link {
    display: block;
    height: (v(space-s));
  }
  &__item {
    fill: color(primary);
  }
}
