@use '../02-tools/color' as *;
@use '../02-tools/_v.scss' as *;
@use '../01-settings/breakpoint' as *;

.c-card {
  display: flex;
  flex-direction: column;
  font-size: v(font-size-default);

  &__title {
    font-size: v(font-size-default);
    grid-row: 1/2;
    text-transform: capitalize;
    &--highlights {
      font-size: v(font-size-default);
      text-transform: uppercase;
    }
  }
  &__text {
    font-size: v(font-size-default);
    grid-row: 2/3;
    height: auto;
    line-height: v(line-default);
    padding: 0;
    text-align: justify;
  }
  &__image {
    grid-row: 2/3;
    height: auto;
    width: calc(v(space-s) * 20);
  }
  &--right {
    grid-column: 2/3;
  }
  &--left {
    grid-column: 1/2;
  }
  &__list {
    font-size: v(font-size-default);
    list-style: none;
    padding-left: v(padding-default);
    position: relative;
    &::before {
      background-color: color(tertiary);
      content: '';
      display: block;
      height: 1px;
      left: 0;
      position: absolute;
      top: 25%;
      width: v(space-s);
    }
  }
}
