@use '../02-tools/color' as *;
@use '../02-tools/_v.scss' as *;
@use '../01-settings/breakpoint' as *;

.c-contact {
  align-self: center;
  display: flex;
  flex-direction: column;
  grid-area: contact;
  height: 100%;
  justify-self: flex-start;
  width: 100%;

  &__icon {
    height: 100%;
    padding: v(padding-small) v(padding-small) v(padding-small) 0;
    width: v(space-xl);
  }
  &__content {
    align-self: center;
    display: flex;
    flex-direction: row;
    height: 100%;
    width: 100%;
  }
  &__forced {
    fill: color(primary);
  }
  &__info {
    height: 100%;
    margin: 0;
    padding: v(padding-default);
    width: 100%;
  }
}
