@use '../02-tools/color' as *;
@use '../02-tools/_v.scss' as *;
@use '../01-settings/breakpoint' as *;

.c-copyright {
  align-self: center;
  grid-area: copyright;
  justify-self: flex-start;
  margin: 0;
  padding: v(padding-default) v(padding-default) v(padding-default) 0;
  font-size: v(font-size-default);
  height: 100%;
  @include breakpoint(small-up) {
    justify-self: flex-start;
  }
}
