@use '../02-tools/color' as *;
@use '../02-tools/_v.scss' as *;
@use '../02-tools/z-index' as *;
@use '../01-settings/breakpoint' as *;

.c-logo {
  align-items: center;
  display: flex;
  grid-area: logo;
  grid-column: 1/2;
  height: 100%;
  width: 100%;
  &__image {
    transition: v(transition-function-header);
    width: calc(v(space-s) * 15);
  }

  &__map {
    fill: color(primary);
  }
  &__nucleo {
    fill: color(tertiary);
  }
  &__description {
    fill: color(primary);
  }
  &__box-gear {
    fill: none;
    stroke: none;
  }
  &__gear {
    fill-rule: evenodd;
    fill: color(primary);
    stroke: color(primary);
  }
  &__cicle {
    fill: color(tertiary);
  }
  &__ray {
    fill: color(primary);
    stroke: none;
  }
}
