@use '../02-tools/color' as *;
@use '../02-tools/_v.scss' as *;
@use '../01-settings/breakpoint' as *;

.c-line-footer {
  background-color: color(solid-secondary);
  display: grid;
  grid-area: line-footer;
  grid-template-columns: 1fr;
  height: auto;
  margin: 0 auto;
  max-width: v(size-max-width);
  width: 100%;
  @include breakpoint(small-up) {
    grid-template-columns: 1fr calc(v(space-s) * 10);
  }
  &__full {
    height: v(space-s);
    shape-rendering: crispEdges;
    width: 100%;
  }
  &__colored {
    fill: none;
    height: 100%;
    overflow: visible;
    shape-rendering: crispEdges;
    stroke: color(primary);
    width: 100%;
    &--smoth {
      shape-rendering: auto;
    }
  }
  &__mono {
    stroke: color(tertiary);
    fill: none;
    overflow: visible;
  }
  &__right {
    display: none;
    overflow: hidden;

    @include breakpoint(small-up) {
      display: block;
      height: v(space-s);
      overflow: visible;
      width: 100%;
    }
  }
  &__background {
    fill: color(solid-secondary);
    height: 100%;
    overflow: visible;
    width: 100%;
  }
}
