@use '../02-tools/color' as *;
@use '../02-tools/_v.scss' as *;
@use '../02-tools/z-index' as *;
@use '../01-settings/breakpoint' as *;

.c-reader-bar {
  animation: reader-bar v(transition-duration-default) ease-in-out;
  animation-timeline: scroll();
  background-color: color(primary);
  grid-area: reader;
  height: v(space-xs);
  max-width: v(size-max-width);
  opacity: 0.6;
  position: fixed;
  top: 0;
  transform-origin: left;
  transform: scale(0, 1);
  transition: v(transition-duration-exit);
  width: 100vw;
  z-index: z-index(above);
}

@keyframes reader-bar {
  to {
    transform: scale(1, 1);
  }
}
