@use '../02-tools/color' as *;
@use '../02-tools/_v.scss' as *;
@use '../02-tools/z-index' as *;
@use '../01-settings/breakpoint' as *;

.c-reader-status {
  animation: reader-status v(transition-duration-default) ease-in-out;
  animation-timeline: scroll();
  background-color: color(primary);
  height: v(space-xs);
  max-width: V(size-max-width);
  opacity: 0;
  position: fixed;
  transform: translateX(-100%);
  transition: v(transition-duration-exit);
  width: 100%;
  z-index: z-index(above);
}

@keyframes reader-status {
  1% {
    transform: translateX(-100%);
    opacity: 1;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}
