@use '../02-tools/color' as *;
@use '../02-tools/_v.scss' as *;
@use '../02-tools/z-index' as *;
@use '../01-settings/breakpoint' as *;

.c-slogan {
  grid-area: slogan;
  text-transform: none;
  font-size: v(font-size-default);
  align-self: center;
  justify-self: center;
  font-weight: 900;
}
