@use '../02-tools/color' as *;
@use '../02-tools/_v.scss' as *;
@use '../02-tools/z-index' as *;
@use '../01-settings/breakpoint' as *;

.c-social-network {
  align-items: center;
  display: grid;
  grid-area: social-network;
  grid-template-columns: 1fr;
  height: 100%;
  margin: 0;
  padding: 0;
  width: auto;
  @include breakpoint(small-up) {
    grid-template-columns: 1fr calc(v(space-s) * 20);
  }

  &__container {
    align-items: center;
    column-gap: v(space-xs);
    display: grid;
    grid-column: 1 / 2;
    grid-template-columns: repeat(4, 1fr);
    justify-items: flex-start;
    @include breakpoint(small-up) {
      grid-column: 2 / -1;
      justify-items: flex-end;
    }
  }

  &__icon {
    fill: color(primary);
    height: v(space-2xl);
    margin: 0;
    padding: 0;
    transition: v(transition-duration-exit);
    width: v(space-xl);
    &:hover {
      background-color: color(tertiary);
      padding: v(space-3xs);
    }
  }
  &__link {
    display: block;
    height: v(space-s);
  }
  &__item {
    fill: color(primary);
  }
}
