@use '../02-tools/color' as *;
@use '../02-tools/_v.scss' as *;
@use '../01-settings/breakpoint' as *;

.c-title {
  text-transform: uppercase;
  font-size: v(font-size-default);
  padding-top: v(space-3xs);

  @include breakpoint(small-up) {
    font-size: v(font-size-default);
    padding-top: v(space-s);
  }
}
