// @see https://css-tricks.com/inheriting-box-sizing-probably-slightly-better-best-practice/
html {
  box-sizing: border-box;
  background-color: #e0e0e0; // Example background color, adjust as needed
}

*,
*::before,
*::after {
  box-sizing: inherit;
}
